<div class="jumbotron">
<h1><i class="fa fa-check-circle-o" aria-hidden="true"></i> Produkt</h1>
  <p>Welcome to Produkt the smart to-do list built with Ruby on Rails.</p>
  <%= link_to 'Sign Up', '#', class: "btn btn-danger btn-md" %>

</div>
