/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */


 .icon-bar {
   color: #F6003C
}

.btn-danger.facebook {
  background: #3b5998;
  border: none;
  border-radius: 3px;
  margin: auto;
  width: 300px;

}
.btn-danger.facebook a {

  color: #fff;
  text-decoration: none;

}

.fa {
float: left;
padding-top: 4px;
}

.btn-danger {
  background: #F6003C;
}

.jumbotron {
  background-color: transparent;
  padding-bottom: 0px;
  padding-top: 30px;
  margin: auto;
}

.jumbotron h1 {
  color: #DDFFE3;
  font-size: 32px;

}

.jumbotron h3 {
  color: #DDFFE3;
  font-size: 25px;

}



.text-center h2 {
  color: #343A35;
  font-size: 20px;
  margin-top: 0px;

}

.navbar-default .navbar-nav>li>a {
color: #fff;
}

.navbar-default .navbar-toggle {
border-color: #EB5757;
// border: none;

}

body {
  background: image-url("yogapose.jpeg");
  background-size: cover;
  background-position: center;
  height: 700px;
  margin: 0px;
  border-radius: 0;
  background-repeat: no-repeat;

}

.signup a {
color: #E9004B;
}

.navbar-default {
  margin-bottom: 0px;

}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  color: #E9004B;

}

.fa-check-circle-o {
  color: #EB5757;
}

.navbar-default {
  background-color: #1C304B;
  border: none;
  border-radius: 0px;
  color: #fff;
}

.devise-css p {
  color: #fff;
}

.devise-css p a {
  color: #333;
}
